<div style="margin-top: 10px">
  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      id="customFileLabel"
      (change)="onChange($event)"
      multiple
    />
    <label class="input-group-text" for="customFileLabel"
      >Selecionar arquivo</label
    >
  </div>
  <div class="progress" style="margin-top: 10px;" *ngIf="showBarProgress">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width]="progress + '%'"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{progress}}%
    </div>
  </div>
</div>
<div style="margin-top: 10px">
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!files"
    (click)="onUpload()"
  >
    Upload
  </button>
</div>
<div style="margin-top: 10px">
  <button
    type="button"
    class="btn btn-primary"
    (click)="onDownloadExcel()"
  >
    Download Excel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="onDownloadPDF()"
  >
    Download PDF
  </button>
</div>
